
body {
  background: rgba(17, 17, 17, 0.596);
  font-family: 'Lexend Deca', sans-serif;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:'Lexend Deca';
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
} 